#light-box {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.719);
}

#light-box img {
  width: 100%;
  height: auto;
  max-width: 780px;
  max-height: 1000px;
  z-index: 2;
}

#exit-btn-container {
  display: inline-block;
  position: fixed;
  top: 40px;
  left: 4%;
  cursor: pointer;
}

#bar1,
#bar2 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
}

#bar1 {
  transform: translate(0, 3.5px) rotate(-45deg);
}

#bar2 {
  transform: translate(0, -3.5px) rotate(45deg);
}
